#header {
    width: 94%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section {
    margin-top: 5rem;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(./img/Manali.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header > p {
    padding: 1rem;
}

