:root {
    --primary-color: rgb(240, 233, 233);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#header {
    width: 94%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.hero-section {
    margin-top: 5rem;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(./img/Manali.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

#header > p {
    padding: 1rem;
}

#main {
    width: 94%;
    margin: 10px auto;
    display: flex;
    gap: 1rem;
}

#section {
    flex: 1;
}

#aside {
    padding: 1rem;
    width: 100px;
    max-height: 400px;
    background-color: seashell;
    
}

.img-card {
    padding: 1rem;
    background-color: seashell;
}
img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    aspect-ratio: 16/9;
}